body {
  font-family: "Source Sans Pro", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.nav-color {
  background-color: #ff2b3a;
  transition: ease-in-out 1s;
}

/* Hero Section */
#hero {
  background: linear-gradient(#ff5f6d, #ffc371);
  height: 100vh;
  width: auto;
}

.hero-tagline h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.hero-tagline p {
  color: #fff;
  font-size: 1.1rem;
}

.button-lg-primary {
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: #ff4855;
  height: 2.5rem;
  width: 9rem;
  border-radius: 5px;
}

.button-lg-primary:hover {
  color: #ff4855;
  background-color: #fff;
}

.arrow {
  height: 30px;
}

.arrow:hover {
  color: #fff;
}

/* About */
#about {
  height: 100vh;
  background-color: #fee4cb;
}

.about-tagline h2 {
  font-weight: 700;
  color: #ff2b3a;
  font-size: 2.1rem;
}

.about-tagline p {
  font-size: 1.1rem;
}

/* Download */
#download {
  height: 100vh;
  background: linear-gradient(#ff5f6d, #ffc371);
}

.download-tagline h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2.1rem;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.card-text {
  font-size: 1.2rem;
}

/* Kontak */
#contact {
  height: 100vh;
  background-color: #fee4cb;
}

#contact h2 {
  font-weight: 700;
  margin-top: 10%;
  color: #ff2b3a;
  font-size: 2.1rem;
}

.form-label {
  color: #ff2b3a;
  font-size: 1.2rem;
}

.button-form {
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: #ff4855;
  height: 2.5rem;
  width: 7rem;
  border-radius: 5px;
}

.button-form:hover {
  color: #ff4855;
  background-color: #fff;
}
